@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Open+Sans:wght@400;700&display=swap');
.App{
  margin: 50px 0;
}
a{
  color:#333;
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}

h1,h2,h3,h4,h5{
  font-family: 'Montserrat', sans-serif;
  color: #333;
}
p,span,a,input,button{
  font-family: 'Open Sans', sans-serif;
  color: #333;
}
.bg-img{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.no-padd{
  padding: 0;
}

/*TodoForm*/
.card-todo{
  margin-bottom: 15px;
}
.lbl-todo-form{
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 5px;
  color:#000;
}
.txt-todo-form{
  width: 60%;
}
.todo-card-title{
  font-weight: 700;
}
/*TodoForm-----END*/

/*TodoItem*/
.todo-item{
  display: flex;
  padding: 15px;
  align-items: center;
}
.todo-item.complete{
  color: #155724;
  background-color: #d4edda;
}
.todo-info{
  flex-grow: 2;
  padding: 0 15px;
}
.todo-info p{
  margin-bottom: 5px;
}
.todo-action{
  display: flex;
}
.btn-todo{
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
}
.btn-todo:nth-of-type(1){
  margin-right: 10px;
}
/*TodoItem-----END*/

/*Todos*/
.todo-filter{
  padding: 10px 15px;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0,0,0,.125);
}
.todo-filter select{
  width: 300px;
}
.todo-filter label{
  margin-bottom: 0;
  margin-right: 10px;
}

/*Todos-----END*/

@media only screen and (max-width: 600px){
  .txt-todo-form{
    width: 100%;
  }
  .todo-filter select{
    width: 100%;
  }
}

